
/*지울것*/


/* B_Title */
#B_TITLE {
    height: 60px;
    
}

#B_TITLE .inner {
    display: flex;
    justify-content: center;
    gap:40px;
}

#B_TITLE .inner > a {
margin:auto 0;
}
#B_TITLE .inner .list {
    display: flex;
    
    list-style-type: none;
}

#B_TITLE .inner .list:first-child {
    margin-left: 0;
    padding-left: 0;
}
#B_TITLE .inner .list > li {
    margin: 0 10px; /* 좌우 간격 설정 */
}

#B_TITLE .inner .list > li > a {
    margin: auto 5px;
    text-decoration: none; /* 기본 링크 스타일 제거 (필요시) */
    color: inherit; /* 링크 텍스트 색상 상속 (필요시) */
}

#B_TITLE .inner .Icon {
    display: flex;
    margin: auto 0;
}
#B_TITLE .inner .Icon > span{
    margin: 5px;
}
#B_TITLE .inner .Box {
    text-align: center;
    height: 20px;
    width: 65px;
    border-radius: 30%;
    padding : 15px;
    border-radius: 10px;
    background-color: rgb(49, 49, 255);
    color:white;
    
}

#banner{
    width: 1920px;
    height: 660px;
    background-size: cover;
    background-image: url("/kbs/images/banner_image.jpg");
    margin: 0 auto;
}
#banner .banner_text{
    padding-top: 15ch;
    width: 600px;
    height: 50p;
    margin-left: 400px;    
    

    
}
#banner .banner_text > *{
    
    display: block;
    
}
#banner .banner_text .s1{
    color:white;
    margin: 5px auto;
    font-size: 35px ;
    font-weight: bold;

    
}

#banner .banner_text .s2{
    color:white;
    margin: 5px auto;
    font-size: 19px ;
    
}

#banner .banner_text .text{
    display: flex;
    color:white;
    width: 174px;
    height: 60px;
    background-color:blue;
    border-radius: 30%;
    padding : auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 255);
    cursor: pointer;
}


/*Hover Interface*/

/* .list 클래스에 대한 스타일 */
.list:hover .list_contents {
    display: block;
}

.list .list_contents {
    width: 100%;
    /* 부모 클래스의 영역을 기준으로 할 경우 flex 사용 */
    position: fixed;
    top:60px;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
}
.list .list_contents:before {

 
}

/* .list 클래스의 하위 항목의 호버 시 max-height를 확장 */
.list:hover .list_contents {
    max-height: 500px;
}

/* .list_contents 내부의 .list_menu 스타일 */
.list_contents .list_menu {
    background-color: white;
}

/* .list_menu 내부의 .inner 스타일 */
.list_contents .list_menu > ul.inner {
    display: flex;
    padding: 20px 300px;
    
}

/* .inner의 li 요소 스타일 */
.list_contents .list_menu > ul.inner > li {
    width: 220px;
    list-style: none;
    
}

/* .inner의 p 요소 스타일 */
.list_contents .list_menu > ul.inner > li p {
    padding: 5px 0 12px 0;
    font-size: 14px;
    color: #690;
}

/* .inner의 ul 요소 내 li 스타일 */
.list_contents .list_menu > ul.inner > li ul li {
    color:gray;
    font-size: 12px;
    padding: 5px 0;
    cursor: pointer;
    list-style: none;
}

/* .inner의 ul 요소 내 li의 hover 상태 */
.list_contents .list_menu > ul.inner > li ul li:hover {
    color: green;
}
/* Purchase Ticket*/
#Ticket{
    
    height: 200px;
    background-color: #F1F5F9;;
}
#Ticket .inner{
    
    width: 80%;
    height: 80%;
    margin: auto auto auto 20%;
    display: flex;
}
#Ticket .inner .index{
    width: 10%;
    height: 100%;
    display:flex;
    
    margin-left: 20%;
    flex-direction: column;
    
    
}
#Ticket .inner .index .switch{
    margin:auto 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
#Ticket .inner .index .switch:first-child::before {
    display: none; /* 첫 번째 span 요소의 가상 요소를 숨깁니다 */
}

#Ticket .inner .index .switch::before {
    content: "ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ"; /* 가상 요소에 표시될 텍스트 */
    display: block; /* 가상 요소를 블록 레벨 요소로 표시합니다 */
    transform: skewX(180deg); /* X축으로 180도 기울임 변환을 적용합니다 */
}
#Ticket .inner .buy{
    margin: auto 0;
}
#Ticket .inner .buy .Ticket1{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

}
#Ticket .inner .Ticket3 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
} 
#Ticket .inner .Ticket3 .Daybox{

    margin:5px 5px 50px 5px;
    
}


#Ticket .inner .buy .Ticket3 .Daybox{
    border:solid 1px black;
    border-radius: 5px;
    padding:5px;
    

}

#Ticket .inner .buy .Ticket2{
    display: flex;
}
#Ticket .inner .buy .Ticket2 .box1{
    display: inline-block;
    width: 180px;
    height: inherit;
    border-radius: 10px;
    border: 1px solid gray;
    color:gray;
    margin:6px;
    
}
.box1 .o {
    opacity: 0.2;
}
#Ticket .inner .buy .Ticket2 .box1 span{
    text-align: center;
}
#Ticket .inner .buy .Ticket2 .box2{
    display: inline-block;
    width: 90px;
    padding-top: 10px;
    background-color: blue;
    color:white;
    text-align: center;
    border-radius: 10%;
    cursor:pointer;
}

#Ticket .inner .buy .Ticket3 .TICK3{
    padding:10px;
    
}

#Ticket .inner .buy .Ticket3 select {
    display: inline-block;
    width: 260px;
    height: 40px; 
    color: gray;
    margin: 6px;
    border: 1px solid #ccc; /* 경계선 추가 */
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 10px; /* 내부 여백 */
    font-size: 16px; /* 글자 크기 */
    background-color: white; /* 배경색 */
    box-sizing: border-box; /* 박스 크기 계산 방식 설정 */
    
}
.box1 .o {
    opacity: 0.2;
}
#Ticket .inner .buy .Ticket3 .box1 span{
    text-align: center;
}
#Ticket .inner .buy .Ticket3 .box2{
    display: inline-block;
    width: 100px;
    
    padding-top: 15px;
    background-color: blue;
    color:white;
    text-align: center;
    border-radius: 10%;
    cursor:pointer;
}


/*강좌 종목 안내
패딩 혹은 width값 줘서 .
*/
#InfCos {
    /* 전체 컨테이너에 대한 스타일 */
}

#InfCos .inner {
    display: flex;
    justify-content: space-between;
    width: 100%; /* 전체 너비로 설정 */
    padding-left: 27%;
    padding-bottom: 50px;
}

#InfCos .inner span {
    text-decoration: underline;
    font-weight: bold; /* 'bold' 속성 변경 */
    padding: 5px 0;
}

#InfCos .Infimg-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 자동 줄바꿈 설정 */
    
    margin: 0 500px;
}

#InfCos .Infimg-container .Infimg {

    background-image: url("/kbs/images/recommend_icon_swim.png") ;
    background-position: -33px 120px;
    background-repeat: no-repeat;
    position: relative;
    width: 240px;
    height: 450px;
    border-radius: 30px;
    background-color: rgba(46, 133, 226, 0.5);
    display: flex;

    flex-wrap: wrap;
    
    overflow: hidden;
    margin: 28px; /* 항목 간격 조정 */
}

#InfCos .Infimg h2 {

    padding-top: 30px;
    padding-left: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
#InfCos .Infimg div {
    display:inline;
    width: 200px;
    height: 50px;
    padding-bottom: 300px;
    padding-left: 20px;
}

/*추천종목*/
#Recommand {
    height: 800px;
    width: 100%;    
    background-color: #F1F5F9;
}

#Recommand h1 {
    font-size: 50pt; /* 글자 크기 */
    font-style: normal; /* 글자 스타일 */
    color: black; /* 글자 색상 */
    margin-left: 29%;
    
}
#Recommand .inner{
    width: 100%;
    position:relative;
background-color: #F1F5F9;
    display: flex;
    justify-content: center;
}
#Recommand .inner .subimg{
position:absolute;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/kbs/images/recommend_img_swim.jpg");
    
    width:480px;
    height:480px;
    left:30%;
    
    
    
    
    
}
#Recommand .inner .subicon1{
    background-image: url("/kbs/images/recommend_img_squash.png");
 
    height: 400px;
    width: 500px;
       
    background-size: contain;
    background-repeat: no-repeat;
}
#Recommand .inner .subicon1 span{
    font-size:60px;
    margin-left:60px;
    margin-top: 400px;
    font-weight: bold;
    display:block;
}
#Recommand .inner .subicon1:hover{
  
    cover:pointer;
}


#Recommand .inner .subicon2{
    background-image: url("/kbs/images/recommend_icon_swim.png");
 
    height: 400px;
    width: 500px;
       
    background-size: contain;
    background-repeat: no-repeat;

}
#Recommand .inner .subicon2 span{
    font-size:60px;
    margin-left:10%;
    margin-top: 400px;
    font-weight: bold;   
    display:block;
}
/* 공지사항*/
#notice{
    width:inherit;
    height: 400px;
    
}

#notice .subtitle{

    margin-left: 30%;
    width:1000px;
    height: inherit;
    position:relative;
    display: flex;
    justify-content: space-between;-
}

#notice .subtitle .a{
    font-size: 50pt;
position:absolute;
top:50%;
width: inherit;
height: 50px;
display: flex;
justify-content: space-between;
}
#notice .subtitle .b{
    font-size: 50pt;
    position:absolute;

    top:50%;
    width: inherit;
    height: 50px;
    margin-left: 150%;
}
#notice .subtitle .a :first-child,
#notice .subtitle .b{
    font-weight: bold;
}
#notice .subtitle .a .Y{
    
    color:gray;
    font-size: 25pt;
    font-weight: bold;
}

/* 할인업체 img*/
.imginf{
      width: inherit;
     height: 200px;
    position:relative;
}
.imginf ._img{
    position:absolute;
    left:30%;
    width:50%;
    height: 200px;
     background-size: auto;
     background-image: url("/kbs/images/guide_pc.jpg");
     background-repeat: no-repeat;
     margin: auto 0;
     overflow: visible;
}

/*회색 밑바닥*/

/*정보처리방침*/
#gray_bot {
    background-color: gray;
    height: 700px;
    position:relative;
    
}
#gray_bot .inf{
    display:flex;
    height:20px;
    width: inherit;
    position:relative;
}
#gray_bot .inf .A{
    font-size: 25pt;
    color:white;
    display:flex;
    margin: 50px 0 50px 20%;
    
    
}
#gray_bot .inf .A span{
    padding:50px;
}
#gray_bot .inf .A span:after{
    content: "ㅣ";
    margin-left: 10px;
}
#gray_bot .inf .A span:last-child::after{
display:none;

}
#gray_bot .inf .B{
    font-size: 25pt;
    color:white;
    display:flex;
    
    position:absolute;
    top:100px;
    right:10%;
}
#gray_bot .inf .B span{
    margin-left:20px;
    font-size: 35pt;
}

/*주소라인*/
#gray_bot .addr{
position:relative;
top:45%;
width: 100%;
height: 200px;
border-bottom:2pt solid white;
}
#gray_bot .addr .A{
    width:1300px;
    height:300px;
    font-size: 25pt;
    color:white;
    margin-left: 10%;
    
}
#gray_bot .addr .A span{
    margin : 5px;
}
#gray_bot .addr .A span:after{
    content: "ㅣ";
    margin-left: 10px;
}
#gray_bot .addr .A span:last-child::after{
display:none;

}

#gray_bot .addr .B{
    width: 980px;
    height: inherit;
    position: absolute;
    top:0;
    right:284px;
    display: flex;
    
}
#gray_bot .addr .B .A,
#gray_bot .addr .B .B,
#gray_bot .addr .B .C,
#gray_bot .addr .B .D{
width: 150px;
height: 150px;
background-repeat: no-repeat;
background-size: 100px;

}
#gray_bot .addr .B .A{
    background-image: url("/kbs/images/ico_facebook.svg");
}
#gray_bot .addr .B .B{
    background-image: url("/kbs/images/ico_youtube.svg");
}
#gray_bot .addr .B .C{
    background-image: url("/kbs/images/ico_instagram.svg");
}
#gray_bot .addr .B .D{
    background-image: url("/kbs/images/ico_blog.svg");
}
/*저작권*/
#gray_bot .copyright{
    position:absolute;
    left:45%;
    bottom:20px;

}
#gray_bot .copyright .A{
    font-size: 30px;
    font-weight: bold;
    color:white;
}